@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
			<h2 class="text-center">@Model.Value("Title")</h2>
		</header>
		<div>
		    @{
		        Html.RenderAction("RenderContactForm", "Contact");
		    }
		</div>
	</div>
</section>