@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2>@Model.Value("title")</h2>
				<p>@Model.Value("bodyText")</p>
				<ul class="actions">
					<li><a href="#" class="button big special">Learn More</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						
						<div class="content">
							<h2>Our beer assortment!</h2>
							<p>Check out our awesome beer assortment!</p>
							<ul class="actions">
								<li>
									<a href="/products" class="button alt">Our products</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>