@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProductsItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
    var image = Model.Value<IPublishedContent>("image");
}


<section id="main" class="wrapper">
    <div class="container">
        <header class="major special">
            <h2>@Model.Value("productName")</h2>
        </header>
        <div class="row">
            <div class="col-6 text-center">
                <img src="@image.Url" style="width: auto; height: 400px;" />
            </div>
            <div class="col-6 text-center">  
                <p>@Model.Value("productDescription")</p>
            </div>
        </div>
</section>